################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JsonTemplates/v15/.suo
/.vs/JsonTemplates/v15
/.vs/JsonTemplates/v14/.suo
/packages/Newtonsoft.Json.9.0.1
/packages/Newtonsoft.Json.9.0.1
/JsonTemplates/packages/Newtonsoft.Json.9.0.1
/JsonTemplates/UnitTests/obj/Debug
/JsonTemplates/UnitTests/bin/Debug
/UnitTests/obj/Debug
/UnitTests/bin/Debug
